AMIIBO_API_BASE_URL=https://www.amiiboapi.org
AMIIBO_CACHE_TTL_SECONDS=3600
AMIIBO_TRANSPORT=stdio
AMIIBO_HTTP_PORT=8080
AMIIBO_HTTP_HOST=0.0.0.0
AMIIBO_ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
AMIIBO_REQUEST_TIMEOUT_MS=10000
LOG_LEVEL=INFO
